@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.brand-name {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 32px !important;
}

a {
    text-decoration: none;
}


.main-box {
    height: 950px;
    padding-top: 250px;
}

.content-box {
    height: 150px;
    width: 50%;
}

.mar-0 {
    margin-left: 0; !important;
    margin-right: 0; !important;
}

