{% extends 'base.html' %}
{% block title %}Predict{% endblock %}

{% block content %}
    <div class="container">
        <div class="container" style="padding-top: 90px">
            <div class="container">
                <h1 class="border-bottom border-white">収支情報</h1>
            </div>
            <div class="row">
                <div class="col-lg pt-4">
                    <div class="container-fluid">
                        <h3 class="border-bottom border-white mb-5">本日収支</h3>
                        <div class="container-fluid border border-white rounded-3 border-4 content-box h-100 mar-0">
                            <p class="fs-5 pt-3">収　支 :</p>
                            <hr>
                            <p class="fs-5 pt-1">的中数 :</p>
                            <hr>
                            <p class="fs-5 pt-1">的中率 :</p>
                            <hr>
                            <p class="fs-5 pt-1">回収率 :</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg pt-4">
                    <div class="container-fluid">
                        <h3 class="border-bottom border-white mb-5">シーズン収支</h3>
                        <div class="container-fluid border border-white rounded-3 border-4 content-box h-100 mar-0">
                            <p class="fs-5 pt-3">収　支 :</p>
                            <hr>
                            <p class="fs-5 pt-1">的中数 :</p>
                            <hr>
                            <p class="fs-5 pt-1">的中率 :</p>
                            <hr>
                            <p class="fs-5 pt-1">回収率 :</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg pt-4">
                    <div class="container-fluid">
                        <h3 class="border-bottom border-white mb-5">総合収支</h3>
                        <div class="container-fluid border border-white rounded-3 border-4 content-box h-100 mar-0">
                            <p class="fs-5 pt-3">収　支 :</p>
                            <hr>
                            <p class="fs-5 pt-1">的中数 :</p>
                            <hr>
                            <p class="fs-5 pt-1">的中率 :</p>
                            <hr>
                            <p class="fs-5 pt-1">回収率 :</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5">
                <h1 class="border-bottom border-white">各レース予想</h1>
                <div>
                    <p>Race1</p>
                    <p>Race2</p>
                    <p>Race3</p>
                </div>
            </div>
            <div class="container mt-5 pb-5">
                <h1 class="border-bottom border-white">過去収支情報</h1>
                <div>
                    <p>Race1</p>
                    <p>Race2</p>
                    <p>Race3</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}