{% extends 'base.html' %}
{% block title %}Predict{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h1 class="border-bottom border-white mb-5">総合収支</h1>
            <div class="container border border-white rounded-3 border-4 content-box w-75">
                <p>本日収支: </p>
                <p>合計収支: </p>
                <p>本日的中数</p>
                <p>本日的中率</p>
                <p>合計的中率</p>
            </div>
        </div>
        <div class="container mt-5">
            <h1>各レース予想</h1>
            <div>
                <p>Race1</p>
                <p>Race2</p>
                <p>Race3</p>
            </div>
        </div>

    </div>
{% endblock %}